:root{
    --yellow: #F1A600;
    --mor1: #1F1D2C;
    --mor2: #242635;
    --gray: #E5E5E5;
    --white: #FFFFFF;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    box-sizing: border-box;
}

@media (min-width: 320px ){
    .section1{
        background: var(--mor1);
        padding: 0 0 80px 0;   
    }
    .section1 .vector{
        position: absolute;
        z-index: 0;
        right: 0;
        width: 310px;
    }
    .section1 .elements{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    /* ESTILO DEL MENU //////////////////////// */
    .section1 .elements nav{
        display: flex;
        justify-content: flex-end;
    }
    .section1 .elements nav button{
        border: none;
        background-color: transparent;
        padding: 30px 50px 0 0;   
    }
    .section1 nav button i{
        color: var(--white);
        font-size: 30px;
        cursor: pointer;
        transition: 0.5s;
    }
    .section1 nav button i:hover{
        rotate: 180deg;
    }
    /* //////////////////////////////////////// */
    /* ESTILO DEL HEADER ////////////////// */
    .section1 .elements header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* //////////////////////////////////////// */
    /* ESTILO DEL TEXTO DEL HEADER //////////// */
    
    /* TITULO ///////////// */
    .section1 .elements header article div:first-child{
        color: var(--white);
        text-align: center;
        font-size: 50px;
        font-family: 'Inter', sans-serif;
    }
    /* SUBTITULO */
    .section1 .elements header article div:nth-child(2){
        color: var(--gray);
        text-align: start;
        font-family: 'Inter', sans-serif;
        font-size: 22px;
        padding: 25px 0 0 100px;
    }
    /* AÑOS DE EXPERIENCIA */
    .section1 .elements header article div:nth-child(3){
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 22px;
        padding: 10px 0 0 100px;
    }
    .section1 .elements header article div:nth-child(3) p span{
        color: var(--yellow);
    }
    /* //////////////////////////////////////// */
    /* ICONOS DEL HEADER */
    .section1 .elements header .icons_social{
        color: var(--yellow);
        display: flex;
        justify-content: center;
        padding: 30px;
        gap: 25px;
    }
    .section1 .elements header .icons_social button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: 0.5s;
    }
    .section1 .elements header .icons_social button i{
        color: #F1A600;
        font-size: 30px;
    }

    /* FOTO DEL PORTAFOLIO */
    .section1 .elements header .photo{
        text-align: center;
    }
    .section1 .elements header
    /* SECTION 2 ESTILO ////////////// */
    .section2{
        background: var(--mor2);
        
    }
    .section1 .elements header .photo .foto_desktop{
        display: none;
    }
    /* ///////////////////////// */
    
    /* SECTION 2 ARTICULO ////////////// */
    main{
        display:flex;
        flex-direction: column;
    }
    main .section2{
        display: flex;
        flex-direction: column;
        background: var(--mor2);
    }
    main .section2 article{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main .section2 article div:first-child{
        text-align: center;
        color: var(--white);
        font-family: 'Inter', sans-serif;
        padding: 40px 0 20px 0;
        font-size: 24px;
    }
    main .section2 article div:last-child{
        text-align: center;
        color: var(--gray);
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 25px;
    }
    /* ESTILOS DE LOGOS */
    
     main .logos{
        display: flex;
        flex-direction: column;
     }
     /* Logo de UVM */
     main .section2 .logos .UVM_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     main .section2 .logos .UVM_logo div:nth-child(1){
        text-align: center;
        padding: 60px 0 0 0;
        margin: 0;
        
     }
     main .section2 .logos .UVM_logo div:nth-child(1) img{
        height: 70px;
     }

     main .section2 .logos .UVM_logo div:nth-child(2){
        text-align: center;
        color: var(--white);
        font-family: 'Inter', sans-serif;
     }
     main .section2 .logos .UVM_logo div:nth-child(3){
        text-align: center;
        padding: 0 0 60px 0;
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 12px;
     }
    /* ///////////////////////// */
     main .section2 .logos .Academlo_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     main .section2 .logos .Academlo_logo div:nth-child(1){
        text-align: center;
        margin: 0;
     }
     main .section2 .logos .Academlo_logo div:nth-child(1) img{
        height: 80px;
        background-color: transparent;
     }

     main .section2 .logos .Academlo_logo div:nth-child(2){
        text-align: center;
        color: var(--white);
        font-family: 'Inter', sans-serif;
     }
     main .section2 .logos .Academlo_logo div:nth-child(3){
        text-align: center;
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        padding: 0 0 60px 0;
     }

    /* ///////////////////////// */
     main .section3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--mor1);
        padding: 0 0 50px 0;
     }
     /* Seccion 3 titulo experiencia */
     main .section3 .exp_title{
        text-align: center;
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        padding: 60px 0 20px 0;
     }
     /* grid */
     main .section3 .items div:nth-child(1){
        color: var(--white);
        font-size: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     main .section3 .items div:nth-child(2){
        display: flex;
        text-align: center;
        flex-direction: column;
        color: var(--white);
        font-family: 'Inter', sans-serif;
     }
     main .section3 .items div:nth-child(2) article:nth-child(2){
        font-size: 10px;
     }
     main .section3 .items div:nth-child(2) article:nth-child(3){
        font-size: 10px;
     }
     main .section3 .items div:nth-child(3){
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     
     /* //////////////// */
     main .section3 .items div:nth-child(4){
        color: var(--white);
        font-size: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     main .section3 .items div:nth-child(5){
        display: flex;
        text-align: center;
        flex-direction: column;
        color: var(--white);
        font-family: 'Inter', sans-serif;
     }
     main .section3 .items div:nth-child(5) article:nth-child(2){
        font-size: 10px;
     }
     main .section3 .items div:nth-child(5) article:nth-child(3){
        font-size: 10px;
     }
     main .section3 .items div:nth-child(6){
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     /* //////////////// */
     main .section3 .items div:nth-child(7){
        color: var(--white);
        font-size: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     main .section3 .items div:nth-child(8){
        display: flex;
        text-align: center;
        flex-direction: column;
        color: var(--white);
        font-family: 'Inter', sans-serif;
     }
     main .section3 .items div:nth-child(8) article:nth-child(2){
        font-size: 10px;
     }
     main .section3 .items div:nth-child(8) article:nth-child(3){
        font-size: 10px;
     }
     main .section3 .items div:nth-child(9){
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
     }

     /* //////////////// */
     main .section3 .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
     }
     /* ///////////////////////// */
     .section4{
        background: var(--mor1);
        padding: 0 0 80px 0;   
    }
    main .section4 .vector2{
        position: absolute;
        z-index: 0;
        left: 0;
        width: 310px;
        z-index: 0;
    }
    main .section4 div{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    main .section4 .title_section4 {
        
        color: var(--white);
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        padding: 30px 0 0 110px;
    }
    main .section4 .text_section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    main .section4 .text_section4 #t1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0 20px 0;
    }
    main .section4 .text_section4 #t1 h2{
        color: var(--yellow);
        padding: 0 25px 0 25px;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
    }
    main .section4 .text_section4 #t1 h3{
        color: var(--gray);
        padding: 0 25px 0 25px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
    }
    /* Seccion 5 PORTAFOLIO*/
    main .section5{
        background: var(--mor1);
        padding: 0 0 80px 0;   
    }
    main .section5 .title_section5{
        color: var(--white);
        font-family: 'Inter', sans-serif;
        text-align: center;
    }
    /* Primer Portafolio */
    main .section5 .first_portfolio{
        width: 100%;
        width: calc(100% - 10%);
        height: 300px;
        /* padding-bottom: 100px; */
        margin: 0 auto;
        margin-bottom: 80px;
        background: var(--yellow);  
    }
    main .section5 .first_portfolio img{
        width: 120%;
        width: calc(110% - 10%);
        height: 330px;
        padding: 10px;
        margin: 0 auto;
    }
    /* Segundo Portafolio */
    main .section5 .second_portfolio{
        width: 100%;
        width: calc(100% - 10%);
        height: 300px;
        /* padding: 10px; */
        margin: 0 auto;
        margin-bottom: 80px;
        background: var(--mor2);  
    }

    main .section5 .second_portfolio img{
        width: 120%;
        width: calc(110% - 10%);
        height: 330px;
        padding: 10px;
        margin: 0 auto;
    }

    /* Tercer Portafolio */
    main .section5 .third_portfolio{
        width: 100%;
        width: calc(100% - 10%);
        height: 300px;
        /* padding: 10px; */
        margin: 0 auto;
        background: var(--yellow);  
    }
    main .section5 .third_portfolio img{
        width: 120%;
        width: calc(110% - 10%);
        height: 330px;
        padding: 10px;
        margin: 0 auto;
    }

    /* FOOTER */
    footer{
        background: var(--mor2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer h2{
        text-align: center;
        font-family: 'Inter', sans-serif;
        color: var(--white);
        padding: 60px 0 30px 0;
        font-size: 30px;
    }
    footer .cell_icon{
        display: flex;
        justify-content: center;
        padding: 0 0 40px 0;
    }
    footer .cell_icon i{
        color: var(--yellow);
        font-size: 70px;
    }

    footer h3{
        text-align: center;
        font-family: 'Inter', sans-serif;
        color: var(--white);
        font-size: 20px;
    }
    footer p{
        text-align: center;
        font-family: 'Inter', sans-serif;
        color: var(--gray);
        font-size: 13px;
        padding: 0 0 40px 0;
    }

    footer .email_icon{
        display: flex;
        justify-content: center;
        padding: 0 0 40px 0;
    }
    footer .email_icon i{
        color: var(--yellow);
        font-size: 70px;
    }
    footer .message{
        display: flex;
        justify-content: center;
    }
    footer .message h4{
        color: var(--white);
        font-size: 13px;
        font-family: 'Inter', sans-serif;
        word-spacing: 3px;
    }
}
/* RESPONSIVE PARA DESKTOP */
@media (min-width: 992px ){

        /* ESTILO DEL MENU //////////////////////// */

        /* //////////////////////////////////////// */
        /* ESTILO DEL HEADER ////////////////// */
    .section1 .elements header{
        flex-direction: row;
        justify-content: flex-start;
    }
        /* //////////////////////////////////////// */
        /* ESTILO DEL TEXTO DEL HEADER //////////// */
    .section1 .elements header .header_desktop{
        display: flex;
        flex-direction: column;
        border: solid 1px var(--gray);
        padding: 10px 30px 0 90px;
    }
    header{
        border: solid 1px var(--gray);
    }
        /* TITULO ///////////// */
    .section1 .elements header article div:first-child{
        padding: 0 0 30px 0;
    }
        /* SUBTITULO */
    .section1 .elements header article div:nth-child(2){
        padding:30px 0 30px 0;
    }
        /* AÑOS DE EXPERIENCIA */
    .section1 .elements header article div:nth-child(3){
        padding: 0;
    }
    .section1 .elements header article 
        /* //////////////////////////////////////// */
        /* ICONOS DEL HEADER */
    .section1 .elements header .icons_social{

    }
    .section1 .elements header .icons_social button{

    }
    .section1 .elements header .icons_social button i{

    }
    
        /* FOTO DEL PORTAFOLIO */
    .section1 .elements header .photo{
        text-align: center;
        border: solid 1px var(--gray);
    }Andycbaz25
    .section1 .elements header .photo .foto_mobile{
        display: none;
    }
    .section1 .elements header .photo .foto_desktop{
        display: block; 
        width: 390px;
        /* padding: 0 0 0 50px; */
    }
    .section1 .elements header {
}
}